<div>
  <h1>Clientes</h1>
  <%= form_tag search_client_path, method: :get, class:"navbar-form navbar-right" do %>
    <div class="form-group">
      <%= text_field_tag :name, @name, class:"form-control" %>
      <%= button_to "Buscar", nil, class:"btn btn-default" %>
    </div>
  <% end %>
</div>
<%= button_to 'Novo Consultor(a)', new_client_path, class:"btn btn-primary", :method => :get %>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>CPF/CNPJ</th>
      <th>Nome</th>
      <th>Rua</th>
      <th>Número</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>CEP</th>
      <th>Usuário</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.cpf_cnpj %></td>
        <td><%= client.name %></td>
        <td><%= client.street %></td>
        <td><%= client.number %></td>
        <td><%= client.neighbourhood %></td>
        <td><%= client.city %></td>
        <td><%= client.email %></td>
        <td><%= client.phone %></td>
        <td><%= client.cep %></td>
        <td><%= client.user.name %></td>
        <td><%= button_to 'Exibir', client, class:"btn btn-primary", :method => :get %></td>
        <td><%= button_to 'Editar', edit_client_path(client), class:"btn btn-danger", :method => :get %></td>
        <!--td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>