<p id="notice"><%= notice %></p>

  <table class="table table-bordered table-hover">
  <thead>
  <tr>

<th><strong>CPF/CNPJ:</strong></th>
<th><strong>Nome:</strong></th>
<th><strong>Rua:</strong></th>
<th><strong>Numero:</strong></th>
<th><strong>Bairro:</strong></th>
<th><strong>Cidade:</strong></th>
<th><strong>Email:</strong></th>
<th><strong>Telefone:</strong></th>
<th><strong>CEP:</strong></th>
<th><strong>Supervisor:</strong></th>
  </tr>
  </thead>

  <tbody>
  <tr>

<td><%= @client.cpf_cnpj %></td>
<td><%= @client.name %></td>
<td><%= @client.street %></td>  
<td><%= @client.number %></td>  
<td><%= @client.neighbourhood %></td>
<td><%= @client.city %></td>  
<td><%= @client.email %></td>
<td><%= @client.phone %></td>
<td><%= @client.cep %></td>
<td><%= @client.user.name %></td>
  </tr>
  </tbody>
  </table>

<%= button_to 'Editar', edit_client_path(@client),class:"btn btn-primary", :method => :get %> 

<%= button_to 'Voltar', clients_path, class:"btn btn-danger", :method => :get %>
