<!DOCTYPE html>
<html>
  <head>
    <title>FDVAware</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %> 
  <%= nav_bar brand: "Inicio", brand_link: root_path do %>
    <%= menu_group do %>
      <%= menu_item "Clientes", clients_path %>
      <%= menu_item "Pedido", root_path %>
    <% end %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>
